.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.green-button {
    background-color: #1c8994;
    color: #fff;
    padding: 8px 8px;
    font-size: 30px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.side-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-container button {
    background-color: white;
    border: 3px solid #1c8994;
    color: #6b6b6b;
    padding: 8px 8px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    margin: 10px;
}

.counts {
    font-weight: bold;
    color:black;
}

@media ((min-width: 768px) and (min-height: 1024px)) {
    #pieChart {
        //min-height: 11100px;
    }
 } 

/* xs */
 @media (min-width: 475px) {
    #pieChart {
        min-width: 100px;
    }
 }

/* sm */
 @media (min-width: 640px) {
    #pieChart {
        min-width: 200px;
    }
 } 

/* md */
 @media (min-width: 768px) {
    #pieChart {
        min-width: 300px;
    }
 } 

/* lg */
 @media (min-width: 1024px) {
    #pieChart {
        min-width: 400px;
    }
 } 

/* xl */
 @media (min-width: 1280px) {
    #pieChart {
        //min-width: 450px;
    }
 } 

/* 2xl */
 @media (min-width: 1536px) {
    #pieChart {
        //min-width: 500px;
    }
 } 

 @media (min-height: 640px) {
    #pieChart {
        min-height: 150px;
    }
 } 

/*md */
 @media (min-height: 768px) {
    #pieChart {
        min-height: 250px;
    }
 } 

/* lg */
 /*@media (min-height: 1024px) {
    #pieChart {
        min-height: 350px;
    }
 } */

/* xl */
/* @media (min-height: 1280px) {
    #pieChart {
        min-height: 420px;
    }
 } 

 2xl 
 @media (min-height: 1536px) {
    #pieChart {
    min-height: 450px;
    }
 } 
 */