<div class="center-container">
    <button class="green-button">{{this.countryName}}</button>
</div>
<div class="side-container">
    <button class="jo-button">Number of entries <br>
        <span class="counts">{{this.entriesCountry}}</span></button>
    <button class="jo-button">Total number medals <br>
        <span class="counts">{{this.medalsCountryCount}}</span></button>
    <button class="countries-button">Total number of athletes<br>
        <span class="counts">{{this.athletesCountryCount}}</span></button>
</div>
<div>
    <canvas id="lineChart"></canvas>
</div>
<div class="center-container">
    <button class="green-button" id="back" routerLink="">Go back</button>
</div>
